<!DOCTYPE html>
<head>
    <title><%=title%></title>
</head>
<body>

    <h1>Codeial / <%= title %></h1>
    <%if(locals.user){%>
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" rows="3" cols="30" placeholder="Post Here ..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <div class="post-list-container">
        <ul>
            <%for(posts of post){%>
                <li>
                    <h4><%=posts.content%></h4>
                    <p>Posted by <%=posts.user.name%>
                    <%if(locals.user.id == posts.user.id){%>
                    <a href="/posts/destroy/<%=posts.id%>"><span color="red">X</span></a>
                    <%}%>
                </p>
                </li>
                <div class="post-comments">
                    <form action="/posts/comments/create" method="post">
                        <input type="text" name="content" placeholder="Add Comment ...">
                        <input type="hidden" name="post" value="<%=posts._id%>">
                        <input type="submit" value="Add Comment">
                    </form>
                </div>
                <%for(comments of posts.comments){%>
                    <ul>
                        <p>
                            <%=comments.content%>
                            <small>
                               <%= comments.user.name%>
                            </small>
                        </p>
                    </ul>
                <%}%>
            <%}%>
        </ul>
    </div>
    <%}%>
</body>
</html>